.Half
{
    width: 50%;
    height: 100%;
    background-color: rgb(2, 99, 112);
    float: left;
    text-align: center;
    margin-top: 100px;

}

.DownBar
{
    height: 100px;
}

.Company
{
    width: 80%;
    margin: auto;
}