body{
    margin: 0px;
}


.MiddleBar
{
    width: 100%;
    height: 450px;
    
    
}

.CellMidleBar
{
    width: 33.33%;
    height: 100%;
    float: left;
}

#CoffeFoto
{
    background-image: url("Kawa.png");
    
}

#Tea
{
    background-image: url("Herbata.png");
    
}

#Yerba
{
    background-image: url("Yerba.png");
    
}

.Names
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 340px;
}

video{
    width: 100%;
    height: 100%;
}

#CofeVideo
{
    clip-path: url(#text-overlay);
}

#TeaVideo
{
    clip-path: url(#text-overlay-v2);
}

#YerbaVideo
{
    clip-path: url(#text-overlay-v3);
}

svg{
    font-size: 6em;
}

.VidoHelper
{
    position: relative;

}

.InVideo
{
    position: absolute;
   
}

#TeaIDWideo
{
    margin-left: 25%;
}

#YerbaIDWideo
{
    margin-left: 50%;
}


.CoffeDescribe
{
    width: 300px;
    height: 300px;
    z-index: 100;
    border-radius:300px;
    background-color: red;
    
    transition: width 0.5s;
    color: transparent;
    

    position: absolute;
    top: calc(50% - 155px);
    left: calc(50% - 155px);
    
}

.CoffeDescribeV
{
    width: 300px;
    height: 300px;
    z-index: 100;
    border-radius:300px;
    background-color: red;
    
    margin-right: 0px;
    
    left: 0px;
    transition: right 0.5s;
    color: transparent;
    

    position: absolute;
    top: calc(50% - 155px);
    left: calc(50% - 155px);
    
}

.OverlayDivs
{
    position: relative;
    width: 100%;
    height: 100%;
}

.OverlayDivsV
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.CoffeDescribe:hover
{
    width: 600px;
    color: white;
    
}

.CoffeDescribeV:hover
{
    
    color: white;
    right:600px;
    
}

.FotoInCoffe
{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center, center; 
    float: left;
}

.RightTextx
{
    float: left;
    width: 300px;
    position: absolute;
    text-align: center;
    right: 0px;
    
}

